<div class="login-container">
    <!-- <h2>Login</h2> -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <label for="username">Username</label>
        <input id="username" name="username" formControlName="username" />
        <div *ngIf="username?.invalid && username?.touched" class="error-message">
            Username is required
        </div>

        <label for="password">Password</label>
        <input id="password" name="password" type="password" formControlName="password" />
        <div *ngIf="password?.invalid && password?.touched" class="error-message">
            Password is required
        </div>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <button type="submit" [disabled]="!loginForm.valid || isLoading">
            {{ isLoading ? 'Logging in...' : 'Login' }}
        </button>
    </form>
</div>
<div class="login-links">
    <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
    <p>Forgot your password? <a routerLink="/reset-password">Reset Password</a></p>
</div>