.user-info-card {
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 12px
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.stats div {
    text-align: center;
}